@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
/* primary colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

/* neutral colors*/
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/* special selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", serif;
    display: grid;
    place-content: center;
    position: relative;
}

p {
    font-size: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

                         /* stylings for mobile */
.container-desktop {
    display: none;
}

.cart-details-desktop {
    display: none;
}

.product-overlay-desktop {
    display: none;
}

.container-mobile {
    width: 100%;
}

/* header section */
.header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem;
    position: relative;
}

.header-mobile .logo {
    margin-left: .625rem;
}

.header-mobile .menu {
    cursor: pointer;
}

.header-mobile .cart_image {
    display: flex;
    align-items: center;
    gap: .9rem;
    position: relative;
}

.header-mobile .cart_image img {
    opacity: 70%;
    width: 1.1rem;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.header-mobile .cart_image img:hover {
    transform: scale(1.1);
}

.header-mobile .cart_image p {
    display: none;
}

.header-mobile .cart_image .profile {
    width: 1.25rem;
    transition: transform 0.2s ease;
}

.header-mobile .cart_image .profile:hover {
    border-radius: 3.1rem;
    border: 1px solid var(--orange);
    transform: scale(1.4);
}

 /* first section  */
.slider-mobile {
    position: relative;
    width: 100%;
}

.products-mobile {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.products-mobile .product {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: none;
}

.products-mobile .product.active{
    display: block;
}

.slider-mobile .previous-btn {
    padding: .3rem;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 5%;
    transform: translate(0, 400%);
    z-index: 2;
    cursor: pointer;
}

.slider-mobile .next-btn {
    padding: .3rem;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5%;
    transform: translate(0, 400%);
    z-index: 2;
    cursor: pointer;
}

.slider-mobile .arrow {
    width: .5rem;
}

/* second section */
.product-info-mobile {
    margin: .9rem 1.25rem;
}

.product-info-mobile span {
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

.product-info-mobile h1 {
    margin-top: .3rem;
    width: 310px;
    color: var(--very-dark-blue);
}

.product-info-mobile p {
    margin: .9rem 0;
    line-height: 1.5em;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.product-info-mobile .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info-mobile .price-discount {
    display: flex;
    align-items: center;
    gap: .9rem;
}

.product-info-mobile .price-discount p {
    background-color: var(--black);
    color: var(--white);
    padding: .13rem .5rem;
    border-radius: .25rem;
    font-size: .75rem;
    font-weight: 700;
}

.product-info-mobile .prices span {
    text-decoration: line-through;
    font-size: .75rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

.product-features-mobile .quantity-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: 5px;
    height: 40px;
    padding: 0 1.2rem;
    margin-top: .625rem;
}

.product-features-mobile .quantity-mobile img {
    width: .75rem;
    cursor: pointer;
}

.product-features-mobile .quantity-mobile p {
    color: var(--black);
    font-weight: 700;
    font-size: 1.2rem;
}

.product-features-mobile .button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    font-weight: 700;
    background-color: var(--orange);
    margin-top: .9rem;
    border-radius: .625rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 70px;
    cursor: pointer;
}

.product-features-mobile .button-mobile img {
    width: 1rem;
    opacity: 70%;
}

.product-features-mobile .button-mobile p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
}

/* overlays for mobile */
.nav-list-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.6rem;
    width: 70%;
    height: 100%;
    background-color: var(--white);
    z-index: 1000;
}

.nav-list-overlay .close {
    margin-bottom: 1.9rem;
    cursor: pointer;
}

.nav-list-overlay .nav-items {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: var(--very-dark-blue);
}

.nav-list-overlay .nav-items .item {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.nav-list-overlay .nav-items .item:hover {
    transform: scale(1.1);
}

.cart-notification {
    background-color: var(--orange);
    font-size: .625rem;
    color: var(--white);
    border-radius: 30px;
    width: 1.1rem;
    text-align: center;
    position: absolute;
    top: -15%;
    right: 53%;
    display: none;
}

.cart-details-mobile {
    background-color: var(--white);
    width: 96%;
    height: 230px;
    margin-top: 4.5rem;
    border-radius: .5rem;
    font-size: .9rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 3;
    display: none;
}

.cart-details-mobile .cart-text {
    border-bottom: .1px solid #ccccc8c0;
    padding: 1.25rem;
    color: var(--very-dark-blue);
    font-weight: 700;
}

.cart-details-mobile .cart-items {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-items .cart-image {
    width: 40px;
    border-radius: .18rem;
}

.cart-items .item-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-items .item-price .cart-content {
    display: flex;
    flex-direction: column;
}

.cart-items .item-price p {
    color: var(--dark-grayish-blue);
    font-size: 1.1rem;
}

.cart-details-mobile .checkout-btn {
    margin: .3rem 1.25rem 0 1.25rem;
    background-color: var(--orange);
    text-align: center;
    padding: 15px;
    border-radius: .3rem;
    cursor: pointer;
}

.cart-items .item-price .total-price, .checkout-btn {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.empty-text {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.blurred {
    backdrop-filter: blur(5px);
}

                                    /* stylings for desktop */
@media (min-width: 768px) {
    .container-mobile {
        display: none;
    }
    
    .product-overlay-mobile {
        display: none;
    }
    
    .container-desktop {
        display: block;
        width: 100%;
    }

/* header section */ 
    .header-desktop {
        margin: 20px 50px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ccccc8c0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-desktop nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    .header-desktop .nav-list .nav-items {
        display: flex;
        gap: 20px;
        color: var(--very-dark-blue);
        font-weight: 400;
    }

    .header-desktop .nav-list .nav-items .nav-item {
        cursor: pointer;
        transition: border-bottom 0.1s ease;
    }

    .header-desktop .nav-list .nav-items .nav-item:hover {
        border-bottom: 4px solid var(--orange);
        font-weight: 700;
    }
    
    .header-desktop .cart_image {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .header-desktop .cart_image .image-avatar {
        width: 40px;
        transition: transform 0.2s ease;
    }

    .header-desktop .cart_image .image-avatar:hover {
        transform: scale(1.2);
    }

    /* main section */
    main {
        display: flex;
        flex-direction: row;
        margin: 60px 60px;
        gap: 50px;
    }

    .images_thumbnails {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .images_thumbnails .product-image {
        display: flex;
        width: 350px;
        overflow: hidden;
    }

    .images_thumbnails .product-image .large-image {
        width: 100%;
        border-radius: .8rem;
        display: none;
        cursor: pointer;
    }

    .images_thumbnails .product-image .large-image.active {
        display: block;
    }

    .thumbnails {
        display: flex;
        justify-content: space-between;
        gap: .3rem;
        width: 100%;
    }

    .thumbnails .thumbnail {
        width: 70px;
        height: 70px;
        border-radius: .5rem;
        display: block;
        cursor: pointer;
    }

    .thumbnails .thumbnail.active {
        border: 2px solid var(--orange);
        opacity: .3;
    }

    /* second section */
    .product-info-desktop {
        margin: .9rem 0;
    }

    .product-info-desktop span {
        text-transform: uppercase;
        font-size: .625rem;
        font-weight: 700;
        color: var(--dark-grayish-blue);
    }

    .product--desktop h1 {
        margin-top: .3rem;
        color: var(--very-dark-blue);
    }

    .product-info-desktop p {
        margin: .9rem 0;
        line-height: 1.5em;
        color: var(--dark-grayish-blue);
        font-weight: 400;
    }

    .product-info-desktop .prices {
        display: flex;
        flex-direction: column;
        margin-bottom: .8rem;
    }

    .product-info-desktop .price-discount {
        display: flex;
        align-items: center;
        gap: .9rem;
    }

    .product-info-desktop .price-discount p {
        background-color: var(--black);
        color: var(--white);
        padding: .13rem .5rem;
        border-radius: .25rem;
        font-size: .75rem;
        font-weight: 700;
    }

    .product-info-desktop .prices span {
        text-decoration: line-through;
        font-size: .75rem;
        font-weight: 700;
        color: var(--dark-grayish-blue);
    }

    .product-features-desktop .quantity-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--light-grayish-blue);
        border-radius: 5px;
        height: 40px;
        padding: 0 1.2rem;
        margin-top: .625rem;
    }

    .product-features-desktop .quantity-desktop img {
        width: .75rem;
        cursor: pointer;
    }

    .product-features-desktop .quantity-desktop p {
        color: var(--black);
        font-weight: 700;
        font-size: 1.2rem;
    }

    .product-features-desktop .button-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .625rem;
        font-weight: 700;
        background-color: var(--orange);
        margin-top: .9rem;
        border-radius: .625rem;
        cursor: pointer;
    }

    .product-features-desktop .button-desktop img {
        width: 1rem;
        opacity: 70%;
    }

    .product-features-desktop .button-desktop p {
        color: var(--black);
        font-size: 1rem;
        font-weight: 700;
    }

/* overlays for desktop */
    .cart-notification-desktop {
        background-color: var(--orange);
        font-size: .625rem;
        color: var(--white);
        border-radius: 30px;
        width: 1.1rem;
        text-align: center;
        position: absolute;
        top: 8%; 
        right: 7.5%;
        display: none;
    }

    .cart-details-desktop {
        background-color: var(--white);
        width: 360px;
        height: 230px;
        margin-top: 4.5rem;
        border-radius: .5rem;
        font-size: .9rem;
        padding-bottom: 1rem;
        position: absolute;
        top: 0;
        left: 400px;
        z-index: 3;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .cart-details-desktop .cart-text {
        border-bottom: .1px solid #ccccc8c0;
        padding: 1.25rem;
        color: var(--very-dark-blue);
        font-weight: 700;
    }

    .cart-details-desktop .cart-items-desktop {
        padding: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart-details-desktop .cart-image {
        width: 40px;
        border-radius: .18rem;
    }

    .cart-items-desktop .item-price {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .cart-items-desktop .cart-content-desktop {
        display: flex;
        flex-direction: column;
    }

    .cart-details-desktop .checkout {
        margin: .3rem 1.25rem 0 1.25rem;
        background-color: var(--orange);
        text-align: center;
        padding: 15px;
        border-radius: .3rem;
        cursor: pointer;
    }

    .cart-items .item-price p {
        color: var(--dark-grayish-blue);
        font-size: 1.1rem;
    }

    .cart-items .item-price .total-price,
    .checkout {
        color: var(--very-dark-blue);
        font-weight: 700;
    }

    .empty-text {
        display: flex;
        justify-content: center;
        margin: 80px 0;
        color: var(--dark-grayish-blue);
        font-weight: 700;
    }

    .blurred {
        backdrop-filter: blur(10px) brightness(70%);
    }

    .product-overlay-desktop {
        display: grid;
        gap: 1.5rem;
        width: 450px;
        position: absolute;
        z-index: 500;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hide {
        display: none;
    }

    .product-overlay-desktop #close-icon-desktop img {
        width: 20px;
        float: right;
        cursor: pointer;
    }

    .product-overlay-desktop .product-images-overlay {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }

    .product-images-overlay .overlay-large-images {
        width: 100%;
        display: flex;
    }

    .product-images-overlay .overlay-large-images .overlay-large-image {
        width: 100%;
        height: 100%; 
        border-radius: 15px;
        display: none;
    }

    .product-images-overlay .overlay-large-image.active {
        display: block;
    }

    .product-images-overlay .overlay-thumbnails {
        width: 350px;
        display: flex;
        justify-content: space-between;
        gap: .6rem;
        margin: 0 auto;
        cursor: pointer;
    }

    .product-images-overlay .overlay-thumbnails .active {
        border: 3px solid var(--orange);
        opacity: .8;
    }

    .product-images-overlay .overlay-thumbnails img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        display: block;
    }

    .product-images-overlay .previous {
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -6%;
        transform: translate(0, 550%);
        z-index: 2;
        cursor: pointer;
    }

    .product-images-overlay .next {
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -6%;
        transform: translate(0, 550%);
        z-index: 2;
        cursor: pointer;
    }


}













    .product-images-overlay .previous-btn {
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -6%;
        transform: translate(0, 550%);
        z-index: 2;
        cursor: pointer;
    }

    .product-images-overlay .next-btn {
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -6%;
        transform: translate(0, 550%);
        z-index: 2;
        cursor: pointer;
    }

/*
@media (min-width: 1024px) {
    .main {
        margin: 70px 100px 10px 100px;
        gap: 75px;
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .product-image {
        width: 400px;
        gap: 25px;
    }

    .product-image .product-main-image img {
        border-radius: 15px;
    }

    .product-images .product-other-images img {
        width: 80px;
        height: 80px;
    }

    .product-details {
        width: 400px;
    }

    .product-details h1 {
        font-size: 34px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .product-details .prices {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 25px;
    }
    
    .product-quantity-button {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .product-quantity-button .product-quantity {
        width: 50%;
        margin: 0;
        height: 52px;
    }

    .product-quantity-button .product-button {
        width: 100%;
        margin: 0;
    }

    .cart-details {
        width: 350px;
        height: auto;
        transform: translate(180%, -45%);
    }

    .cart-details .cart-items {
        margin: 20px;
        padding: 0
    }

    .cart-details .checkout-btn {
        margin: 20px;
    }
} */

/* Things left to do:
1. Make the close icon change color when clicked.
2. Set the border bottom color for the nav items when hovered.
3. Make the previous and next buttons change color when clicked.
4. Make the thumbnails display its image in the large image div when clicked.
5. Check the mobile designs. 
6. Remove the box shadow from the add cart button in the tablet and desktop designs 
7. Clean up your code
*/
